<div class="container body-content">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Utopía</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/balance" routerLinkActive="activebutton">Saldo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/transfer" routerLinkActive="activebutton">Transferir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="activebutton">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr />
    <div class="card border-info mb-3">
        <h3 class="card-header">¡Bienvenido al banco Utopía!</h3>
        <router-outlet></router-outlet>
    </div>
</div>